@charset "UTF8";
*{
    padding: 0px;
    margin: 0px;
}

html, body {
    min-height: 100vh;
    background-color: darkgray;
}

header {
    background-color: #0e0d0d;
    color: white;  
}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
    text-align: center;
}

header > p {
    padding-bottom: 50px;
    text-align: center;
}

header a, footer a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

header a:hover footer a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
}

section.normal {
    background-color: white;
    color: #000;
}

section.imagem {
    background-color: #00000056;
    color: white;
}

section.imagem > p {
    width: 400px;
    background-color: rgba(0, 0, 0, 0.199);
}

footer {
    background-color: rgb(71, 69, 69);
    color: white;
    text-align: center;
    padding: 10px;
}

footer > p {
    background-color: black;
}