@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

body, html {
    background-color: lightgray;
}

header  {
    background-color: gray;
    color: white;
    padding: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

header > h1 {
    flex: 0 0 200px;
    margin: 15px;
}

i#burguer {
    background-color: rgb(68, 68, 68);
    display: block;
    color: white;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

i#burguer:hover {
    background-color: white;
    color: black;
}

header > menu {
    display: block;
}

header > menu > ul {
    list-style-type: none;
    
}

header > menu > ul > li > a {
    display: block;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    background-color: #575757;
    color: white;
    border-top: 2px solid #b1adad;
    border-radius: 5px;
}

header > menu > ul > li > a:hover {
    background-color: gray;
}

main {
    background-color: white;
    margin: 15px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 2px 2px 3px #00000083;
}