@charset "UTF-8";
* {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body {
    background-image: linear-gradient(#F2C6C2, #F28585 );
}

main {
    background-color:white ;
    width: 600px;
    margin: auto;
    padding: 15px;
    border-radius: 15px;
    
}

h1 {
    color: #F2B263;
    text-align: center;
    text-shadow: 1px 1px 2px #795830;
   
}

h2 {
    color: #86A69D;
}

p {
    text-align: justify;
}